<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Games</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/structure.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Sacramento&display=swap">
</head>
<body>
<header>
    <div class="header-top">
        <div class="logo">
            <img class="console" src="/Images/nintendo.png" alt="nintendo console" height="80px">     
            <h1>Cool Games</h1>
        </div>  
        
        <div class="navigation">
            <a href="/post" class="btn">Write a post</a>
            <a href="/"class="btn">Homepage</a>
        </div>
    </div>

    <div class="line"></div> 
</header>